@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Manrope";
	font-display: swap;
	src: url("/fonts/manrope-400.woff2") format("woff2");
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: "Manrope";
	font-display: swap;
	src: url("/fonts/manrope-500.woff2") format("woff2");
}
