html {
	--color-black: #323232;
	--color-link: #1e5f9a;
	--font-basic: "Manrope", sans-serif;
	--scroll-behavior: auto;
	--transition: none;

	font-size: 14px;
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: var(--font-basic);
	font-feature-settings:
		"tnum" on,
		"lnum" on;
	color: var(--color-black);
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
	overflow-anchor: none;
}

a {
	color: var(--color-link);
}

img {
	max-width: 100%;
	height: auto;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		--transition: 0.3s ease-in-out;
		--scroll-behavior: smooth;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1240px) {
	html {
		font-size: 20px;
	}
}
