.portfolio {
	display: grid;
	gap: 1rem;
}

.portfolio__card {
	display: grid;
	gap: 0.5rem;
	align-content: start;
	justify-items: start;
	padding: 1.5rem;
	background-color: #ffffff;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
}

.portfolio__link {
	font-size: 1.25rem;
}

@media (min-width: 1240px) {
	.portfolio {
		grid-template-columns: repeat(2, 1fr);
	}
}
