.tariffs {
	display: grid;
	gap: 1rem;
	width: 100%;
}

.tariffs__card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
}

.tariffs__title {
	margin: 0;
	font-size: 1.5rem;
	text-align: center;
}

.tariffs__features {
	justify-self: center;
	padding-left: 1rem;
	list-style: disc;
}

.tariffs__price {
	margin-top: auto;
}

.tariffs__note {
	font-size: 0.8em;
	text-align: center;
}

@media (max-width: 768px) {
	.tariffs__note:empty {
		display: none;
	}
}

@media (min-width: 768px) {
	.tariffs {
		grid-template-columns: repeat(2, 1fr);
	}

	.tariffs__note {
		min-height: 1.5em;
	}

	.tariffs__note:empty {
		visibility: hidden;
	}
}
